 @font-face {
    font-family:'discord' ;
    src: url('../assets/fonts/discord1.woff2');
 }

 @font-face {
    font-family:'discord' ;
    src: url('../assets/fonts/discord2.woff2');
 }

 @font-face {
    font-family:'discord' ;
    src: url('../assets/fonts/discord3.woff2');
 }

 @font-face {
    font-family:'discord' ;
    src: url('../assets/fonts/discord4.woff2');
 }

 @font-face {
    font-family:'discord' ;
    src: url('../assets/fonts/discord5.woff2');
 }

 @font-face {
    font-family:'discord' ;
    src: url('../assets/fonts/discord6.woff2');
 }

